scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/mysample
        create path (nt:unstructured) /content/dam/mysample/jcr:content
        set properties on /content/dam/mysample/jcr:content
        set cq:conf{String} to /conf/mysample
        set jcr:title{String} to \"My Sample\"
        end
        "
]
